@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #FFFFFF;
  --extra-light: #F5F5F7;
  --light-gray: #D2D2D7;
  --gray: #808080;
  --dark-gray: #424245;
  --black: #121212;
  --success: #32936F;
  --error: #F55F56;

  --body-font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font-family);
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  color: var(--black);
}

a:visited {
  color: var(--black);
}

dl, ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 67px;
  line-height: 120%;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 50px;
  line-height: 120%;
  font-weight: 400;
}

h3 {
  font-size: 38px;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  line-height: 120%;
  font-weight: 300;
}

h6 {
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
}

sup {
  font-size: 30px;
  line-height: 120%;
  font-weight: 500;
  top: -1.7rem;
}

body {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

button {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}

a {
  font-size: 1.24vw;
  line-height: 120%;
  font-weight: 400;
}

caption {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
}

